<%- include('../includes/head.ejs') %>

</head>
<body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
        <%if(error[0]!==undefined){%>
            <div class="alert"><%=error%></div>
        <%}%>
        <div class="row justify-around">
            <div class="text-center">
                <form action="/auth/signin" method="POST">
                    <fieldset>
                        <legend>ورود</legend>
                        <label for="name1">نام</label>
                        <input id="name1" class="mb-2" type="text" name="name"/>
                        <br/>
                        <label for="evidence1">رمز</label>
                        <input id="evidence1" class="mb-2" type="text" name="password"/>
                        <br/>
                        <div>دکتری؟</div>
                        <input name="doctor" type="radio" value="true"/>
                        <span>اره</span>
                        <br/>
                        <span>نه</span>
                        <input name="doctor" type="radio" value="false"/>
                        <br/>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                        <button type="submit">ثبت اطلاعات</button>
                    </fieldset>
                </form>
            </div>  
            <div class="text-center">
                <form action="/auth/signup" method="POST">
                    <fieldset>
                        <legend> ثبت نام</legend>
                        <label for="name">نام</label>
                        <input id="name" class="mb-2" type="text" name="name"/>
                        <br/>
                        <label for="takh">سن</label>
                        <label for="takh">یا تخصص</label>
                        <input id="takh" class="mb-2" type="text" name="age"/>
                        <br/>
                        <label for="evidence">جنسیت</label>
                        <label for="evidence">یا مدرک</label>
                        <input id="evidence" class="mb-2" type="text" name="isman"/>
                        <br/>
                        <label for="pas">رمز</label>
                        <input id="pas" class="mb-2" type="password" name="password"/>
                        <br/><br/>
                        <div>دکتری؟</div>
                        <input name="doctor" type="radio" value="true"/>
                        <span>اره</span>
                        <br/>
                        <span>نه</span>
                        <input name="doctor" type="radio" value="false"/>
                        <br/>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                        <button type="submit">ثبت اطلاعات</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<%- include('../includes/footer') %>