<%- include('../includes/head.ejs') %>

</head>
<body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>number</th>
                    <th>image</th>
                    <th>username</th>
                    <th>age</th>
                    <th>isman</th>
                    <th>remove</th>
                </tr>
            </thead>
            <tbody>
                <%if(users[0] !== undefined){%>
                    <%users.map((val,ind)=>{%>
                        <tr>
                            <td><%=ind+1%></td>
                            <td class="image-container">
                                <a href="/admin/download?src=<%=val.image%>">
                                    <img src="<%=val.image%>" />
                                </a>
                            </td>
                            <td><%=val.username%></td>
                            <td><%=val.age%></td>
                            <td><%=val.isman%></td>
                            <td>
                                <form method="POST" action="/admin/removeDoctor">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                                    <input type="hidden" value="<%=val.id%>" name="id"/>
                                    <button type="submit">حذف کاربر</button>
                                </form>
                            </td>
                        </tr>
                    <%})%>
                <%}else{%>
                    <tr>
                        <td colspan="5">not find any patient</td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <div>
            <div class="pagenation text-center">
                <a href="/admin/doctor?page=<%=page+1%>">بعدی</a>
                <a href="/admin/doctor?page=<%=page%>"><%=page%></a>
                <%if(page!=1){%>
                    <a href="/admin/doctor?page=<%=page-1%>">قبلی</a>
                <%}%>
            </div>
        </div>
    </div>
<%- include('../includes/footer') %></body>