<%- include('../includes/head.ejs') %>

</head>
<body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
        <%if(error[0]!==undefined){%>
            <div class="alert"><%=error%></div>
        <%}%>
        <div class="row justify-around">
            <div class="text-center">
                <form action="/admin/" method="POST">
                    <fieldset>
                        <legend>ورود پنل ادمین</legend>
                        <label for="name1">نام</label>
                        <input id="name1" class="mb-2" type="text" name="username"/>
                        <br/>
                        <label for="evidence1">رمز</label>
                        <input id="evidence1" class="mb-2" type="text" name="password"/>
                        <br/>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                        <button type="submit">ثبت اطلاعات</button>
                    </fieldset>
                </form>
            </div>  
        </div>
    </div>
<%- include('../includes/footer') %></body>