<%- include('../includes/head') %>

</head>
<body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
        <div class="row justify-around">
            <div class="text-center">
                <div class="image-container">
                    <img src=<%= doctor.imgSrc %>  alt=""/>
                </div>
                <div><%= doctor.name %></div>
                <div><%= doctor.proficiency %></div>
                <div><%= doctor.evidence %></div>
            </div>  
            <div class="text-center">
                <form enctype="multipart/form-data" action="/doctor/panel" method="POST">
                    <fieldset>
                        <legend>تغییر اطلاعات</legend>
                        <label for="image">image</label>
                        <input id="image" name="image" type="file"/>
                        <br/>
                        <label for="name">نام</label>
                        <input id="name" value="<%= doctor.name %>" class="mb-2" type="text" name="name"/>
                        <br/>
                        <label for="takh">تخصص</label>
                        <input id="takh" class="mb-2" value="<%= doctor.proficiency %>" type="text" name="proficiency"/>
                        <br/>
                        <label for="evidence">مدرک</label>
                        <input id="evidence" class="mb-2" value="<%=doctor.evidence %>" type="text" name="evidence"/>
                        <br/>
                        <input type="hidden"  name="idDoctor" value="<%= doctor.id %>" />
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                        <button type="submit">ثبت اطلاعات</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <a class="btn-link" href="/doctor/patient">بخش مریض ها</a>
<%- include('../includes/footer') %>