<%- include('../includes/head') %>

</head>
<body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
        <div class="row justify-around">
            <div class="text-center">
                <div class="image-container">
                    <img src=<%= patient.imgSrc %>  alt=""/>
                </div>
                <div><%= patient.name %></div>
                <div><%= patient.age %></div>
                <div><%= patient.isman %></div>
            </div>  
            <div class="text-center">
                <form action="/patient/panel" method="POST">
                    <fieldset>
                        <legend>تغییر اطلاعات</legend>
                        <label for="name">نام</label>
                        <input id="name" class="mb-2" value="<%= patient.name %>" type="text" name="name"/>
                        <br/>
                        <label for="takh">سن</label>
                        <input id="takh" class="mb-2" value="<%= patient.age %>" type="text" name="age"/>
                        <br/>
                        <label for="evidence">جنسیت</label>
                        <input id="evidence" value="<%= patient.isman %>" class="mb-2" type="text" name="isman"/>
                        <br/>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                        <input type="hidden"  name="idPatient" value="<%= patient.id %>" />
                        <button type="submit">ثبت اطلاعات</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <a class="btn-link" href="/patient/request">درخواست ها</a>
<%- include('../includes/footer') %>