<%- include('../includes/head') %>

</head>
<body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
        <h2 class="text-center">بیماران</h2>
        <div class="d-flex">
        
        </div>
        <% patient.map(val=>{ %>
        <div class="requestPatient">
            <div class="row justify-between">
                <div>
                    <img src=<%=val.imgSrc%> alt="" width="15" height="15"/>
                    <span><%=val.name%></span>
                </div>
                <div>
                    <%=val.date%>
                </div>
            </div>
            <div class="requestBody "><%=val.description%></div>
            <%val.response.map((value)=>{console.log(value)%>
                <hr color="red"/>
                <div class="row font-12 justify-between">
                    <div>
                        <img src="<%=value.imgSrc%>" width="20" height="20"/>
                        <span><%=value.username%></span>
                    </div>
                    
                    <div>
                        <%=value.created%>
                    </div>
                </div>
                <div class="requestBody "><%=value.text%></div>
            <%})%>
            <form method="POST" action="/doctor/patient">
                <input type="hidden" name="idrequest" value="<%=val.id%>" />
                <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                <textarea name="comment" class="textarea" placeholder="reply"></textarea>
                <button type="submit" class="btn-link">پاسخ</button>
            </form>
        </div>
        <%})%>
    </div>
<%- include('../includes/footer') %>